网络资料/顾家北手把手教你雅思写作6.0版.pdf
磨耳朵/【雅思词汇】《100个句子记完7000个雅思单词》例句_高频词（带读版）_雅思听力_雅思口语_雅思写作_雅思考试_哔哩哔哩_bilibili.mp4
secret
口语/2509-2512/.idea/.gitignore
口语/2509-2512/.idea/2509-2512.iml
口语/2509-2512/.idea/MarsCodeWorkspaceAppSettings.xml
口语/2509-2512/.idea/misc.xml
口语/2509-2512/.idea/modules.xml
口语/2509-2512/.idea/vcs.xml
口语/2509-2512/.idea/inspectionProfiles/profiles_settings.xml
口语/2509-2512/.idea/inspectionProfiles/Project_Default.xml
口语/2509-2512/src/__pycache__/agent.cpython-312.pyc
口语/2509-2512/src/__pycache__/gemini.cpython-312.pyc
口语/2509-2512/src/__pycache__/utils.cpython-312.pyc
